@import "variables";
@import "global";
@import "scroll";
@import "table";
@import "login";
@import "icons";
@import "button";
@import "modal";
@import "menu";
@import "banner";
@import "card";
@import "img";
@import "utils-text";
@import "utils-color";
@import "utils-size";
@import "utils-border";
@import "utils-spacing";
#root{
  height: 100%;
}
.ant-layout{
  height: 100%;
  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    margin:0 10px;
    color: #fff;
    font-size: 16px;
  }
  .ant-layout-sider-collapsed{
    .anticon{
      font-size: 16px;
      margin-left: 8px;
    }
    .nav-text{
      display: none;
    }
    .ant-menu-submenu-vertical > .ant-menu-submenu-title:after{
      display: none;
    }
  }
  p {
    margin: 10px 0 10px 0;
  }
}
.gutter-example{
  .ant-row{
    //margin-left: 0 !important;
    //margin-right: 0 !important;
    >div{
      background: transparent;
      border: 0;
    }
  }
}
.gutter-box {
  padding: 5px 0;
}


.ant-layout-sider-children .ant-menu-item {
  border-bottom:1px solid #2c3b41;
  background-color: #2c3b41;
}
.ant-menu-dark .ant-menu-item:hover{
  background-color: #2c3b41 !important;
}
.ant-layout-sider-children .nav-home{
  background-color: #3196be;
}
.ant-menu-submenu {
  background-color: #1e282c;
}
.ant-menu-horizontal > .ant-menu-submenu {
  background-color: #fff;
}
.ant-layout-header{
  height:50px !important;
}
.custom-trigger{
  line-height: 50px;
}
.ant-menu-horizontal {
  line-height: 50px !important;
}